<div class="big-card__container">
  <div class="big-card__image">
    <img
    src="../../../assets/imgs/placeholder.webp"
    alt=""


    >
  </div>
  <div class="big-card__author">
    <span>Carlos Augusto</span>
  </div>
  <div class="big-card__title">
    <h1><a href="#"> a nova DLC de Baldur's Gate 3!</a></h1>
  </div>
  <div class="big-card__resume">
    <p>
      <a href="#">
        Em nova atualização lançada essa semana, foi demonstrada a nova DLC de Baldur Gate 3,
        mostrando nova classes e magias, além de melhorias e correção de bugs...
      </a>
    </p>
  </div>
</div>
